@model IEnumerable<ADOPSEV1._1.Models.User>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a asp-action="Index" asp-controller="Subjects" class="btn btn-primary">Subjects</a>
<a asp-action="Index" asp-controller="Branches" class="btn btn-secondary">Branches</a>

<table class="table overflow-auto style="max-height: 600px;">
    <thead>
        <tr>
            <td scope="col"><h4>Όνομα</h4></td>
            <td scope="col"><h4>Επώνυμο</h4></td>
            <td scope="col"><h4>Email</h4></td>
            <td scope="col"><h4>Παράρτημα</h4></td>
            <td scope="col"><h4>Ρόλος</h4></td>
            <td scope="col"><h4>Επιβεβαιωμένος</h4></td>
            <td> scope="col"</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model){
            <tr>
                <td>@obj.first_name</td>
                <td>@obj.last_name</td>
                <td>@obj.email</td>
                <td>@obj.branchId</td>
                <td>@obj.role</td>
                <td>@Html.DisplayNameFor(model => model.validated)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@obj.id">Edit</a> |@*
                    <a asp-action="Delete" asp-route-id="@obj.id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>