@model ADOPSEV1._1.Models.Quiz

@{
    ViewData["Title"] = "Create";

    int iteration = 0;
    int idQuiz = 1;


    foreach (var item in ViewBag.Quizzes)
    {

        iteration++;
        if (iteration == ViewBag.Quizzes.Count)
        {
            idQuiz = item.id;
            idQuiz++;
        }


    }
    bool isIn;
    int count = 0;
}

<h1>Create</h1>

<h4>Quiz</h4>
<hr />
<div class="row">
    <div class="col">
        <div class="container">
            <div class="row">



                <div class="col">
                    <form asp-action="Create">

                        <div class="form-group">
                            <label asp-for="title" class="control-label"></label>
                            <input asp-for="title" class="form-control" />
                            <span asp-validation-for="title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="subjectId" class="control-label"></label>
                            <select asp-for="subjectId" class="form-select" aria-label="Default select example">
                                <option disabled selected> -- select an option -- </option>
                                @foreach (Subject subject in ViewBag.Subject)
                                {
                                    <option value="@subject.id">@subject.name</option>
                                }
                            </select>
                            <span asp-validation-for="subjectId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="minutes" class="control-label"></label>
                            <input asp-for="minutes" class="form-control" />
                            <span asp-validation-for="minutes" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="numberOfQuestions" class="control-label"></label>
                            <select asp-for="numberOfQuestions" class="form-select" aria-label="Default select example">
                                @foreach (QuizQuestions qQ in ViewBag.QuizQuestions)
                                {
                                    if (qQ.quizId == idQuiz)
                                    {
                                        count++;
                                    }
                                }
                                <option selected value="@count"></option>
                            </select>
                            <span asp-validation-for="numberOfQuestions" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="madeBy" class="control-label"></label>
                            <input asp-for="madeBy" class="form-control" />
                            <span asp-validation-for="madeBy" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-2">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                    <br />
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>




                <div class="col">
                    <div>
                        <ul class="list-group overflow-auto" style="max-height: 500px;">
                            <li class="list-group-item">
                                @foreach (Question question in ViewBag.Question)
                                {

                                    isIn = false;
                                    foreach (QuizQuestions qQ in ViewBag.QuizQuestions)
                                    {
                                        if (question.id == qQ.questionId & qQ.quizId == idQuiz)
                                        {
                                            isIn = true;
                                            break;
                                        }
                                    }

                                    if (isIn)
                                    {
                                        <div class="card w-100 p-0">

                                            <div class="card-body">
                                                <h5 class="card-title">@question.text</h5>
                                                <div class="row">
                                                    <div class="col">
                                                        <dt>Created By:</dt>
                                                        @foreach (User user in ViewBag.Users)
                                                        {
                                                            if (user.id == question.madeBy)
                                                            {
                                                                <dd class="card-text">@user.last_name @user.first_name</dd>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="col">
                                                        <dt>Date Created:</dt>
                                                        <dd class="card-text">@question.CreatedDateTime</dd>
                                                    </div>
                                                    <div class="row">
                                                        <dt>Subject:</dt>
                                                        @foreach (Subject subject in ViewBag.Subject)
                                                        {
                                                            if (subject.id == question.subjectId)
                                                            {
                                                                <dd class="card-text">@subject.name</dd>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                                <a asp-action="RemoveFromQuiz" asp-route-idQuestion="@question.id" asp-route-idQuiz="@idQuiz" class="btn btn-danger float-end">Remove</a>

                                            </div>
                                        </div>
                                    }
                                }
                            </li>

                        </ul>
                    </div>
                    <br />
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a asp-controller="Questions" asp-action="LoadFromDb" asp-route-id="@idQuiz" class="btn btn-primary btn-lg mx-2">
                                    Load Question
                                </a>
                            </div>
                            <div class="col">
                                <a asp-controller="Questions" asp-action="Create" class="btn btn-secondary  btn-lg mx-2">
                                    Create Question
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


