@model ADOPSEV1._1.Models.Quiz

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.minutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.minutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numberOfQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numberOfQuestions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.madeBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.madeBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
