@model IEnumerable<ADOPSEV1._1.Models.Quiz>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.minutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberOfQuestions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.madeBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @foreach (Subject subject in ViewBag.Subject)
                {
                    if (item.subjectId == subject.id)
                    {
                        @subject.name
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberOfQuestions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.madeBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
