@model ADOPSEV1._1.Models.Quiz
@{
    ViewData["Title"] = "QuizStarted";
    var count = 1;
    var firstLoaded = -1;
    var lastLoaded = -1;
    var nextQuestion = -1;
    var prevQuestion = -1;
    bool flag = false;
    var prevLoc = 0;
    var prevCount = 0;
    var counter = 0;


    @foreach (QuizQuestions qQ in ViewBag.QuizQuestions)
    {
        
        if (flag)
        {
            nextQuestion = qQ.questionId;
            break;

        }
        if (qQ.questionId == ViewBag.idQuestion)
        {
            flag = true;
            prevLoc = prevCount;
        }
        prevCount++;
    }
    @foreach (QuizQuestions qQ in ViewBag.QuizQuestions)
    {
        counter++;
        if(counter == prevLoc)
        {
            prevQuestion = qQ.questionId;
        }
    }
}

<h1 class="text-center">@Model.title</h1>


@*<partial name="" />*@



<div class="row">
    <div class="col">

        <div class="container">
            <div class="row">



                <div class="col-12 col-md-9">
                    <br /><br /><br /><br /><br />
                    @foreach (Question question in ViewBag.Questions)
                    {
                        if (question.id == ViewBag.idQuestion)
                        {
                            <h3>
                                @question.text
                            </h3>
                            <br />

                            <br />

                            <br />


                            @foreach (Anwser anwser in ViewBag.Anwsers)
                            {
                                if (question.id == anwser.questionId)
                                {
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="@anwser.id">
                                            <label class="form-check-label" for="@anwser.id">
                                                <b>@anwser.text</b>
                                            </label>
                                        </div>


                                        <br />
                                    </div>
                                }
                            }



                        }
                    }



                </div>


                <div class="col-6 col-md-3">
                    <br /><br /><br />
                    <div id="Anwsers">
                        <div class="row">

                            <div class="col">
                                <h4 class="text-center">Questions:</h4>
                            </div>



                            <ul class="list-group overflow-auto border" style="max-height: 500px;">
                                <li class="list-group-item">

                                    @foreach (QuizQuestions val in ViewBag.QuizQuestions)
                                    {

                                        @foreach (Question question in ViewBag.Questions)
                                        {

                                            if (question.id == val.questionId)
                                            {
                                                if (ViewBag.idQuestion == question.id)
                                                {
                                                    <div class="card w-100 p-0 " id="cards" style="background-color: lightblue
">

                                                        <div class="card-body">
                                                            <div>

                                                                <div>
                                                                    <p class="text-truncate card-text mb-1">
                                                                        <b>@count.</b> @question.text
                                                                    </p>
                                                                </div>


                                                            </div>


                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="card ripple w-100 p-0" id="cards" checked>

                                                        <div class="card-body">
                                                            <div>

                                                                <div>
                                                                    <p class=" text-truncate card-text mb-1">
                                                                        <b>@count.</b> @question.text
                                                                    </p>
                                                                </div>


                                                            </div>
                                                            <a asp-action="QuizStarted" asp-route-idQuiz="@Model.id" asp-route-idQuestion="@question.id" class="stretched-link"></a>


                                                        </div>
                                                    </div>
                                                }

                                                if (count == 1)
                                                {
                                                    firstLoaded = @question.id;
                                                }

                                                if (count == ViewBag.QuizQuestions.Count)
                                                {
                                                    lastLoaded = @question.id;
                                                }
                                                count++;
                                            }


                                        }


                                    }


                                </li>

                            </ul>
                            <p></p>
                            <div class="row">
                                @if (ViewBag.idQuestion != firstLoaded)
                                {
                                    <div class="col text-center">
                                        <a asp-action="QuizStarted" asp-route-idQuiz="@Model.id" asp-route-idQuestion="@prevQuestion" class="btn btn-lg float-end btn-block btn-secondary">
                                            Previous
                                        </a>
                                    </div>
                                }

                                @if (ViewBag.idQuestion != lastLoaded)
                                {
                                    <div class="col text-center">
                                        <a asp-action="QuizStarted" asp-route-idQuiz="@Model.id" asp-route-idQuestion="@nextQuestion" class="btn btn-lg float-start btn-block btn-success">
                                            &nbsp; &nbsp; Next &nbsp; &nbsp;
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="col text-center">
                                        <a class="btn btn-lg float-start btn-block btn-danger">
                                            Complete
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>

                        <br />

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
